<h3>Add House</h3>
<input type="text" [(ngModel)]="houseName">
<input type="number" [(ngModel)]="houseSize">
<button (click)="addHouse()">Add House</button>
<p>{{message1}}</p>

<h3>Add Furniture</h3>
<select id="houseSearch">
    <option *ngFor="let house of houseList" value={{house.houseId}}>{{house.name}}</option>
</select>
<input type="text" [(ngModel)]="furnitureName">
<input type="number" [(ngModel)]="furnitureSize">
<button (click)="addFurniture()">Add Furniture</button>
<p>{{message2}}</p>

<h3>Search Furniture</h3>
<input type="text" [(ngModel)]="furnitureSearch">
<button (click)="searchFurniture()">Search Furniture</button>
<p>{{message3}}</p>
