<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <div id="body">
        <div class="section">
            <h3>Add House</h3>
            <h6>House Name:</h6>
            <input type="text" [(ngModel)]="houseName">
            <h6>House Size:</h6>
            <input type="number" [(ngModel)]="houseSize">
            <button (click)="addHouse()">Add House</button>
            <p>{{message1}}</p>
        </div>
    
        <div class="section">
            <h3>Add Furniture</h3>
            <h6>House Name:</h6>
            <select id="houseSearch">
                <option *ngFor="let house of houseList" value={{house.houseId}} >{{house.name}}</option>
            </select>
            <h6>Furniture Name:</h6>
            <input type="text" [(ngModel)]="furnitureName">
            <h6>Furniture Size:</h6>
            <input type="number" [(ngModel)]="furnitureSize">
            <button  (click)="addFurniture()">Add Furniture</button>
            <p>{{message2}}</p>
        </div>
    
        <div class="section">
            <h3>Search Furniture</h3>
            <h6>Furniture Name:</h6>
    
            <input type="text" [(ngModel)]="furnitureSearch">
            <button (click)="searchFurniture()">Search Furniture</button>
            <p>{{message3}}</p>
        </div>
   
    <footer></footer>
</div>
</body>
</html>