.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 40px;
    border: 10px rgba(255, 255, 255, 0.28) double;
    width: 500px;
    min-height: 200px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .675);
     background-image: none;
}
header{
    font-size: 70px;
    color:rgb(255, 255, 255);
    text-align: center;
    width:100%;
    border: 10px rgba(255, 255, 255) double;
    border-radius: 40px ;

}
h3,h6{
    color: white;
    margin:3px;
}
input, select, option{
    background-color: rgba(0, 0, 0, 0);
    border: 2px white solid;
    color:white;
    width: 200px;
}
button{
    border: 2px white solid;
    border-radius: 40px ;
    width: 150px; 
    color:white;
    background-color: rgba(0, 0, 0, 0);
    margin:4px;
   
}
button:hover,input:hover,select:hover{
    background-image: none;
    background-color: rgba(102, 0, 255, 0.727);
}
.section:hover{
    border: 10px rgba(255, 255, 255) double; 
}
#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
p{
    color:red;
}